/*Sélecteur d'ELEMENT*/
h2 {
    font-family: Trebuchet MS;
    font-size: 35px;
    color: #454545;
}
/*Sélecteur de CLASSE*/
.mw-headline-anchor {
	font-size: 0;
}	
/*Sélecteur d'ID*/
#mw-content-text {
    margin: 0 auto;
    width: 80%;
}
/*Sélecteur d'ELEMENT + CLASSE*/
li.toclevel-1 {
    border-right: 1px solid #454545;
    display: inline-block;
    list-style: outside none none;
    padding: 0 15px;
    vertical-align: top;
}
/*Sélecteur DESCENDANT*/
li.toclevel-1 a {
	color: #454545;
}
/*Sélecteur GROUPING*/
h1, h2 {
	color: #FF6666;
}